/*
Name: Bronson Housmans and Billy Dolny
Project: Ostaa Part 2
Description: This is the client end of the website. This is the login
screen that lets you create an account. It also lets you login to the 
account.
*/

body, div {
    display: block;
    margin-left: 1%;
    background-color: lightblue;
}

div {
    margin-top:2%;
}

p {
    font-size: 35px;
    font-weight: bold;
    color: blue;
}
#failMessage {
    color: red;
}