/*
Name: Bronson Housmans and Billy Dolny
Project: Ostaa Part 1
Description: This is the client end of the website. There is 
not a lot of styling since this client website is simple and 
used for debugging.
*/

body, div {
    display: block;
    margin-left: 1%;
    background-color: lightblue;
}

div {
    margin-top:2%;
}

p {
    font-size: 35px;
    font-weight: bold;
    color: blue;
}
#failMessage {
    color: red;
}